/prac/ej7/nbproject/private/
/prac/ej7/build/
/prac/ej8/nbproject/private/
/prac/netbeans/ej7/nbproject/private/
/prac/netbeans/ej8/nbproject/private/
/prac/netbeans/JavaApplication12/nbproject/private/
/prac/netbeans/ej7/build/
/prac/netbeans/ej8/build/
/prac/netbeans/ej9/nbproject/private/
/prac/netbeans/ej9/build/
/prac/netbeans/ej10/nbproject/private/
/prac/netbeans/ej10/build/
/prac/netbeans/ej11/nbproject/private/
/prac/netbeans/ej11/build/
/prac/netbeans/ej12/nbproject/private/